numpy
scipy
matplotlib
nibabel
pydicom
SimpleITK
torch
torchvision
tqdm
albumentations
scikit-image
pynrrd
pandas
opencv-python-headless
Pillow
django>=5.0,<7.0
djangorestframework
gunicorn==21.2.0
whitenoise==6.7.0

dj-database-url
psycopg2-binary
django-storages
boto3
anthropic
pdfplumber
matplotlib
